# Vietnamese tokenizer
pyvi

# python api for spark
pyspark

# dl stuff
transformers


# === OPTIONAL ===
# visualization
matplotlib [security]

# utilities for computation stuff before visualization
pandas [security]
numpy [security]
sklearn [security]